<h1>CK Editor Angular Example</h1>

<p>Updates content into component property as you type, via listening to the <a href="https://ckeditor.com/docs/ckeditor5/latest/api/module_engine_model_document-Document.html#event-change:data">change data event</a> on the Document</p>

<p>Example of how content can be set as well.</p>
<button (click)="setContent()">Set Content</button>

<div #editor>
  <p>Initial content of the editor</p>
</div>

<p><strong>Raw HTML:</strong></p>
<div>
  {{savedContent}}
</div>

<p><strong>Rendered:</strong></p>
<div [innerHTML]="savedContent"></div>